@import '../base/variables';
@import "plugins/_include-media.scss";

// Global CSS goes here
html, body {
  margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

a, a:visited, a:active, a:hover {
	color: $grey;
	text-decoration: none;
}

strong, .strong {
	font-weight: 700;
}

h1 {
	font-size: 48px;
	letter-spacing: -1px;
	margin: 7vh 0;
}

h2 {
	font-size: 38px;
	letter-spacing: -1px;
}

p {
	font-size: 26px;
}

$neat-grid-fullwidth: (
  columns: 12,
  gutter: 20px,
);

$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px,
	desktop-hd: 1980px,
);
