section#bezahlmethoden {
	margin-top: 20%;
	@include media("<desktop-sd") {
		@include grid-column(12);
	}
	@include media(">=desktop-sd") {
		@include grid-column(8);
		@include grid-push(2);
	}
	@include media(">=desktop-hd") {
		@include grid-column(6);
		@include grid-push(3);
	}
	.row {
		display: flex;
		align-items: center;
		margin-top: 50px;
		width: 100%;

		@include media(">tablet") {
			@include grid-collapse;
		}

		div {
			display: flex;
			justify-content: center;
			align-items: center;
			@include media("<tablet") {
				@include grid-column(12);
				&:last-child {
					margin-right: 20px;
				}
			}
			@include media(">=tablet") {
				@include grid-column(6);
			}
			img {
				max-width: 80%;
				height: auto;
			}
		}
	}
}

footer {
	margin-top: 10%;
	width: 100%;
	background-color: $lightgrey;

	#footer-partner {
		padding-top: 10%;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding-bottom: 50px;
		.title {
			text-align: center;
		}
		.row {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 50px;

			@include media("<desktop-sd") {
				@include grid-column(12);
			}
			@include media(">=desktop-sd") {
				@include grid-column(10);
			}
			@include media(">=desktop-hd") {
				@include grid-column(8);
			}
			margin-left: 0 !important;
			div {
				display: flex;
				justify-content: center;
				align-items: center;
				@include media("<tablet") {
					@include grid-column(12);
				}
				@include media("<desktop-sd") {
					@include grid-column(6);
					margin-bottom: 50px;
				}
				@include media(">=desktop-sd") {
					@include grid-column(3);
				}
				@include media(">=desktop-hd") {
					@include grid-column(3);
				}
				img {
					max-width: 80%;
					height: auto;
				}
			}
		}
	}

	#footer-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		hr {
			width: 40%;
			margin-bottom: 50px;
			border: 0;
			height: 1px;
			background-color: $grey-90;
			color: $grey-90;
		}
		ul.menu {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			list-style-type: none;
			margin: 0;
			padding: 0;
			margin-bottom: 50px;
			width: 100%;
			li {
				margin-right: 5%;
			}
			li:last-child {
				margin-right: 0;
			}
			a {
				color: $orange;
			}

			@include media("<tablet") {
				& {
					flex-wrap: wrap;
					justify-content: flex-start;

					li {
						margin: 10px 40px;
						width: calc(50% - 80px);
					}
				}
			}
		}
		a.facebook {
			width: 30px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 50px;
		}
		ul.about {
			flex-wrap: wrap;
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
			margin-bottom: 50px;
			color: $grey-10;
			font-size: 12px;
			li {
				padding: 10px 0;
			}
		}
	}
}
