header {
	display: flex;
	align-items: center;
	margin-top: 15px;
	position: relative;
	@include media("<tablet") {
		@include grid-column(12);
	}
	@include media(">=tablet") {
		@include grid-column(12);
	}
	@include media(">=desktop-hd") {
		@include grid-column(8);
		@include grid-push(2);
	}

	.header-logo {
		@include media("<=tablet") {
			@include grid-column(6, $neat-grid-nogap);
			img {
				max-width: 80px;
				height: auto;
			}
		}
		@include media(">tablet") {
			@include grid-column(2, $neat-grid-nogap);
		}
		@include media(">=desktop-hd") {
			@include grid-column(2, $neat-grid-nogap);
		}
	}

	nav.header-menu {
		text-align: center;

		@include media("<=tablet") {
			order: 3;
			@include grid-column(2, $neat-grid-nogap);
			.hamburger-container {
				display: block;
			}
			#menu {
				display: none;
				position: absolute;
			}

		}
		@include media(">tablet") {
			@include grid-column(8, $neat-grid-nogap);
			.hamburger-container {
				display: none;
			}
		}
		@include media(">=desktop-hd") {
			@include grid-column(8, $neat-grid-nogap);
		}

		.hamburger-container {
		  width: 30px;
		  height: 30px;
		  cursor: pointer;
     	float: right;

			ul.hamburger {
				margin: 0;
		    padding: 0;
		    list-style-type: none;
				li {
				  height: 3px;
					background-color: $orange;
					border-radius: 10px;
				  content: "";
				  position: relative;
				  transition: 0.25s ease-in-out;

					&:nth-child(1) {
						top: 0;
					}
					&:nth-child(2) {
						top: 6px;
						margin-left: 33%;
					}
					&:nth-child(3) {
						top: 12px;
						margin-left: 66%;
					}
				}
			}
		}
		.hidden {
		  opacity: 0;
		}
		.rot45deg {
		  transform: rotate(45deg);
		  top: 9px !important;
			margin-left: 0 !important;
		}
		.rot-45deg {
		  transform: rotate(-45deg);
			margin: 0;
			margin-left: 0 !important;
		}

		ul#menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style-type: none;
		  margin: 0;
		  padding: 0;
			@include media("<=tablet") {
				position: absolute;
				display: none;
				left: -$grid-gap;
				right: -$grid-gap;
		    top: 50px;
		    background-color: white;
				justify-content: flex-end;
				z-index: 1;
				box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);

				li {
					height: 40px;
					display: flex;
					align-items: center;
					margin: 0 20px;
					border-top: 1px solid #E5ECEF;
					div {
						width: 46px;
						height: 40px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
			li {
				img {
					margin-right: 5px;
				}
				a {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				span.value {
					margin-left: 5px
				}
				strong.label {
					margin-right: 5px;
				}
			}
		}
	}

	.header-lang {
		@include media("<=tablet") {
			@include grid-column(4);
			order: 2;
		}
		@include media(">tablet") {
			@include grid-column(2);
		}
		@include media(">=desktop-hd") {
			@include grid-column(2);
		}
		text-align: right;
		a img {
			width: 50%;
			max-width: 20px;
		}
	}
}
