section#coupon, section#related, section#description, section#testimonials  {
	@include media("<tablet") {
		padding-top: 20%;
	}
	@include media(">=tablet") {
		padding-top: 5%;
	}

	@include media("<desktop") {
		@include grid-column(12);
	}
	@include media(">=desktop") {
		@include grid-column(10);
		@include grid-push(1);
	}
	@include media(">=desktop-hd") {
		@include grid-column(6);
		@include grid-push(3);
	}
}

.coupon {
	border-radius: 40px;
	background-color: $grey-80;
	padding: 5%;

	.offer {
		@include grid-collapse;
		display: inline-block;
		.copy {
			@include media("<desktop") {
				@include grid-column(12);
			}
			@include media(">=desktop") {
				@include grid-column(7);
			}
			// @include media(">=desktop-hd") {
			// 	@include grid-column(6);
			// 	@include grid-push(3);
			// }
		}

		.buy {
			@include media("<desktop") {
				@include grid-column(12);
			}
			@include media(">=desktop") {
				@include grid-column(4);
				@include grid-push(1);
			}
			// @include media(">=desktop-hd") {
			// 	@include grid-column(6);
			// 	@include grid-push(3);
			// }
			.dropdown {
				button, .dropdown-menu {
					width: 100%;
				}
			}
			.logo {
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		.registration {
			padding-top: 5%;
			@include media("<desktop") {
				@include grid-column(12);
			}
			@include media(">=desktop") {
				@include grid-column(4);
				@include grid-push(1);
			}
		}
	}
}

.related {
	h3 {
		text-align: center;
	}
	.shopads {
		@include grid-container;

		.shopad {
			@include media("<tablet") {
				@include grid-column(12);
			}
			@include media(">=tablet") {
				@include grid-column(6);
			}
			@include media(">=desktop") {
				@include grid-column(3);
			}
			padding-bottom: 20px;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				img {
					max-width: 70%;
					max-height: 80px;
					height: auto;
					margin-bottom: 20px;
				}
			}
		}
	}
}

.description {
	@include media("<tablet") {
		@include grid-column(12);
	}
	@include media(">=tablet") {
		@include grid-column(8);
		@include grid-push(2);
	}
	@include media(">=desktop") {
		@include grid-column(6);
		@include grid-push(3);
	}
	text-align: center;
}

.testemonials.v1 {
	.testemonial-block {
		@include media("<tablet") {
			@include grid-column(12);
		}
		@include media(">=tablet") {
			@include grid-column(4);
		}
		div {
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
			}
		}
		p {
			color: $grey-20;
		}
		cite {
			color: $grey-60;
		}	
	}
}

.testemonials.v2 {
	display: flex;
	align-items: center;
	width: 100%;
	.image {
		@include media("<tablet") {
			@include grid-column(12);
		}
		@include media(">=tablet") {
			@include grid-column(4);
			@include grid-push(1);
		}
		div {
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.text {
		@include media("<tablet") {
			@include grid-column(12);
		}
		@include media(">=tablet") {
			@include grid-column(4);
			@include grid-push(1);
		}
		p {
			color: $grey-20;
		}
		cite {
			color: $grey-60;
		}
	}
}
