.coupon {
	border-radius: $grid-gap;
	background-color: $lightgrey;
	padding: 5%;

	.offer {
		@include grid-collapse;
		display: inline-block;
		.copy {
			@include media("<tablet") {
				@include grid-column(12);
			}
			@include media(">=tablet") {
				@include grid-column(7);
			}
		}

		.buy {
			@include media("<tablet") {
				@include grid-column(12);
			}
			@include media(">=tablet") {
				@include grid-column(4);
				@include grid-push(1);
			}

			.dropdown {
				button, .dropdown-menu {
					width: 100%;
				}
			}
			.logo {
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		.registration {
			padding-top: 10%;
			@include media("<desktop") {
				@include grid-column(12);
				text-align: center;
			}
			@include media(">=desktop") {
				@include grid-column(4);
				@include grid-push(1);
			}
		}
	}
}

.related {
	h3 {
		text-align: center;
	}
	.shopads {
		@include grid-container;

		.shopad {
			@include media("<tablet") {
				@include grid-column(12);
			}
			@include media(">=tablet") {
				@include grid-column(6);
			}
			@include media(">=desktop") {
				@include grid-column(3);
			}
			padding-bottom: 20px;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				img {
					max-width: 70%;
					max-height: 80px;
					height: auto;
					margin-bottom: 20px;
				}
			}
		}
	}
}

.description {
	@include media("<tablet") {
		@include grid-column(12);
	}
	@include media(">=tablet") {
		@include grid-column(8);
		@include grid-push(2);
	}
	@include media(">=desktop") {
		@include grid-column(6);
		@include grid-push(3);
	}
	text-align: center;
}

.testemonials.v1 {
	@include grid-collapse;
	.testemonial-block {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		@include media("<tablet") {
			@include grid-column(12);
			margin-bottom: $grid-gap;
		}
		@include media(">=tablet") {
			@include grid-column(4, $neat-grid-extended-gap);
		}
		div {
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 100%;
				height: auto;
				max-width: 250px;
				border-radius: 20px;
			}
		}
		p {
			color: $grey-20;
			text-align: center;
			width: 100%;
		}
		cite {
			color: $grey-60;
			text-align: center;
			width: 100%;
		}
	}
}

.testemonials.v2 {
	@include media(">=tablet") {
		display: flex;
		align-items: center;
	}
	width: 100%;
	.image {
		@include media("<tablet") {
			// @include grid-column(12);
			width: 100%;
		}
		@include media(">=tablet") {
			@include grid-column(4);
			@include grid-push(1);
		}
		div {
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.text {
		@include media("<tablet") {
			@include grid-column(12);
		}
		@include media(">=tablet") {
			@include grid-column(4);
			@include grid-push(1);
		}
		p {
			color: $grey-20;
		}
		cite {
			color: $grey-60;
		}
	}
}
