.divider-title {
	color: #009EDB;
	padding-top: 10%;
	margin-bottom: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid $grey-90;
}

#masters {
	display: inline-block;
	float: left;

	.flex-row {
		width: 100%;
		display: flex;
		margin-bottom: 40px;
		flex-wrap: wrap;

		& > * {
			margin-right: 20px;
		}

		label {
			width: 60px;
		}
		input {
			width: 200px;
		}
	}
}
