html, body {
  margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
}

section {
  @include grid-column(12);
}

.visible {
  visibility: hidden;
  display: none;
  &.mobile {
    @include media("<tablet") {
      visibility: visible;
      display: inherit;
    }
  }
  &.desktop {
    @include media(">=tablet") {
      visibility: visible;
      display: inherit;
    }
  }
}
