// Global CSS goes here
html, body {
  margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
}

a, a:visited, a:active, a:hover {
	color: $grey;
	text-decoration: none;
}

strong, .strong {
	font-weight: 700;
}

// h1, h2, h3, h4, h5, h6, p, ul, li, ol {
//   margin: 0;
//   padding: 0;
// }

h1 {
  @include media("<tablet") {
  	font-size: 30px;
  	letter-spacing: -1px;
  	margin: 5% 0;
  }
  @include media(">=tablet") {
  	font-size: 48px;
  	letter-spacing: -1px;
  	margin: 5% 0;
  }
}

h2 {
  @include media("<tablet") {
    font-size: 24px;
    letter-spacing: -1px;
    margin: 3% 0;
  }
  @include media(">=tablet") {
  	font-size: 38px;
  	letter-spacing: -1px;
    margin: 3% 0;
  }
}

p {
	font-size: 26px;
}

h6 {
	font-size: 18px;
}

.visible {
  visibility: hidden;
  display: none;
  &.mobile {
    @include media("<tablet") {
      visibility: visible;
      display: inherit;
    }
  }
  &.desktop {
    @include media(">=tablet") {
      visibility: visible;
      display: inherit;
    }
  }
}
