@import "../plugins/neat/_neat.scss";
@import "../plugins/_include-media.scss";
@import '../base/variables';

$breakpoints: (
	phone: 320px,
	tablet: 1024px,
	desktop: 1280px,
	desktop-hd: 1980px,
);

header {
	display: flex;
	align-items: center;
	margin-top: 15px;
	@include grid-container;

	.header-logo {
		@include media("<tablet") {
			@include grid-column(6);
		}
		@include media(">=tablet", "<desktop-hd") {
			@include grid-column(2);
		}
		@include media(">=desktop-hd") {
			@include grid-column(3);
		}
	}
	.header-menu {
		@include media("<tablet") {
			display: none;
		}
		@include media(">=tablet", "<desktop-hd") {
			@include grid-column(8);
		}
		@include media(">=desktop-hd") {
			@include grid-column(6);
		}
		text-align: center;
		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style-type: none;
		  margin: 0;
		  padding: 0;
			li {
				img {
					margin-right: 5px;
				}
				a {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
				span.value {
					margin-left: 5px
				}
				strong.label {
					margin-right: 5px;
				}
			}
		}
	}
	.header-lang {
		@include media("<tablet") {
			@include grid-column(6);
		}
		@include media(">=tablet", "<desktop-hd") {
			@include grid-column(2);
		}
		@include media(">=desktop-hd") {
			@include grid-column(3);
		}
		text-align: right;
		a img {
			width: 50%;
			max-width: 20px;
		}
	}
}
