@import "../neat/neat";
@import '../base/variables';
@import '../plugins/fluid-aspect';

section#hero {
	width: $section-width;
	margin-left: $section-padding;
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 70vh;
	.title {
		text-align: center;
		width: 70%;
		max-width: 1100px;
	}
	.image {
		img {
			width: 70%;
			max-width: 1400px;
		}
		text-align: center;
		position: relative;
		.cta {
			width: 100%;
			height: 50px;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			bottom: 50px;
		}
	}
}

section#providers {
	margin-top: 20vh;
	width: $section-width;
	margin-left: $section-padding;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 70vh;
	.title {
		text-align: center;
		max-width: 1400px;
	}
	.logos {
		width: 100%;
		ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			list-style-type: none;
		  margin: 0;
		  padding: 0;
			li {
				&:hover {
					transform: scale(1.2);
					opacity: 1;
				}
    		transition: all 0.2s;
				opacity: .8;
				display: flex;
				justify-content: center;
				align-items: center;
				width: calc(100% / 6);
				height: 20vh;
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	.cta {
		width: 100%;
		height: 15vh;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

section#wasistpays {
	margin-top: 20vh;
	width: $section-width;
	margin-left: $section-padding;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.title {
		text-align: center;
		max-width: 1400px;
	}
	.copy {
		text-align: center;
		max-width: 900px;
		width: 70%;
		margin-bottom: 5vh;
	}
}

section#vorteile {
	margin-top: 20vh;
	width: $section-width;
	margin-left: $section-padding;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 70vh;
	.title {
		text-align: center;
		max-width: 1400px;
	}
	.bulletpoints {
		width: 70%;
		min-width: 1000px;
		max-width: 1000px;
		.row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			&:nth-child(-n+3) {
				margin-bottom: 25px;
			}
			.bulletpoint {
				opacity: .8;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: calc(100% / 3.3);
				font-size: 18px;
				font-weight: 700;
				margin: 25px 0;
				div {
					min-width: 80px;
					min-height: 80px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	.cta {
		width: 100%;
		height: 15vh;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

section#funktioniert {
	margin-top: 20vh;
	width: 100%;
	max-width: 100vw;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 70vh;
	position: relative;
	.title {
		text-align: center;
		max-width: 1400px;
	}
	.bulletpoints {
		max-width: $section-width;
		// margin-left: $section-padding;
		.row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			.bulletpoint {
				opacity: .8;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: calc(100% / 3);
				font-size: 18px;
				font-weight: 700;
				margin: 25px 0;
				div {
					min-width: 80px;
					min-height: 80px;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
	.cta {
		width: 100%;
		height: 15vh;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.phone-container {
		width: 100%;
		top: 50px;
		right: 0;
		bottom: 0;
		position: absolute;
		z-index: -1;
		.phone-slide {
			position: absolute;
			right: 0;
		}
		[data-aos="phone-slide"] {
			opacity: 0;
			transition-property: transform, opacity;
			transform: translate(400px);
			&.aos-animate {
				transform: translate(40px);
				opacity: 1;
			}
		}
		[data-aos="phone-rotate"] {
			transform: rotate(0);
			transition-property: transform;
			&.aos-animate {
				transform: rotate(-16deg);
			}
		}
	}
}

section#bezahlmethoden {
	margin-top: 20vh;
	width: $section-width;
	margin-left: $section-padding;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	.title {
		text-align: center;
		max-width: 1400px;
	}
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 50px;

		div {
			margin-right: 5vw;
		}
		div:last-child {
			margin-right: 0;
		}
	}
}

section#partner {
	margin-top: 10vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	.title {
		text-align: center;
		max-width: 1400px;
	}
	.row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 50px;

		div {
			margin-right: 5vw;
		}
		div:last-child {
			margin-right: 0;
		}
	}
}

footer {
	margin-top: 10vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #FBFAFE;
	hr {
		width: 40%;
		margin-bottom: 50px;
		border: 0;
		height: 1px;
		background-color: #E5E6E6;
		color: #E5E6E6;
	}
	ul.footer-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;
		margin-bottom: 50px;
		li {
			margin-right: 5vw;
		}
		li:last-child {
			margin-right: 0;
		}
		a {
			color: $orange;
		}
	}
	a.facebook {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
	}
	ul.footer-about {
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		margin-bottom: 50px;
		line-height: 30px;
		color: #4E595F;
		font-size: 12px;
	}
}
